http_interactions:
- request:
    method: get
    uri: https://api.openaq.org/v1/countries?limit=0&page=1
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
      last-modified: Wed, 26 Feb 2020 09:42:46 GMT
    body:
      encoding: UTF-8
      file: no
      string: '{"meta":{"name":"openaq-api","license":"CC BY 4.0","website":"https://docs.openaq.org/","page":1,"limit":0,"found":93},"results":[]}'
  recorded_at: 2020-02-26 10:04:18 GMT
  recorded_with: vcr/0.4.0, webmockr/0.5.1.98
- request:
    method: get
    uri: https://api.openaq.org/v1/countries?limit=10000
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
      last-modified: Wed, 26 Feb 2020 09:42:46 GMT
    body:
      encoding: UTF-8
      file: no
      string: '{"meta":{"name":"openaq-api","license":"CC BY 4.0","website":"https://docs.openaq.org/","page":1,"limit":10000,"found":93},"results":[{"code":"AD","count":112536,"locations":3,"cities":2,"name":"Andorra"},{"code":"AE","count":69401,"locations":4,"cities":3,"name":"United
        Arab Emirates"},{"code":"AF","count":5415,"locations":2,"cities":2,"name":"Afghanistan"},{"code":"AR","count":14976,"locations":4,"cities":1,"name":"Argentina"},{"code":"AT","count":1521351,"locations":373,"cities":16,"name":"Austria"},{"code":"AU","count":6587388,"locations":166,"cities":52,"name":"Australia"},{"code":"BA","count":1064830,"locations":22,"cities":10,"name":"Bosnia
        and Herzegovi[...]
- request:
    method: get
    uri: https://api.openaq.org/v1/cities?country=IN&limit=10000&page=1
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
      last-modified: Wed, 26 Feb 2020 09:42:46 GMT
    body:
      encoding: UTF-8
      file: no
      string: '{"meta":{"name":"openaq-api","license":"CC BY 4.0","website":"https://docs.openaq.org/","page":1,"limit":10000,"found":231},"results":[{"country":"IN","name":"203","city":"203","count":5841,"locations":1},{"country":"IN","name":"Administrative
        Block","city":"Administrative Block","count":5874,"locations":1},{"country":"IN","name":"Agra","city":"Agra","count":211575,"locations":2},{"country":"IN","name":"Ahmedabad","city":"Ahmedabad","count":142849,"locations":1},{"country":"IN","name":"Ajmer","city":"Ajmer","count":144925,"locations":1},{"country":"IN","name":"Al
        Afiya General Hospital","city":"Al Afiya General Hospital","count":10363,"locations":[...]
