http_interactions:
- request:
    method: get
    uri: https://api.openaq.org/v1/countries?limit=0&page=1
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
      last-modified: Wed, 26 Feb 2020 18:31:56 GMT
    body:
      encoding: UTF-8
      file: no
      string: '{"meta":{"name":"openaq-api","license":"CC BY 4.0","website":"https://docs.openaq.org/","page":1,"limit":0,"found":93},"results":[]}'
  recorded_at: 2020-02-26 18:57:04 GMT
  recorded_with: vcr/0.4.0, webmockr/0.5.1.98
- request:
    method: get
    uri: https://api.openaq.org/v1/countries?limit=10000
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
      last-modified: Wed, 26 Feb 2020 18:31:56 GMT
    body:
      encoding: UTF-8
      file: no
      string: '{"meta":{"name":"openaq-api","license":"CC BY 4.0","website":"https://docs.openaq.org/","page":1,"limit":10000,"found":93},"results":[{"code":"AD","count":112590,"locations":3,"cities":2,"name":"Andorra"},{"code":"AE","count":69473,"locations":4,"cities":3,"name":"United
        Arab Emirates"},{"code":"AF","count":5432,"locations":2,"cities":2,"name":"Afghanistan"},{"code":"AR","count":14976,"locations":4,"cities":1,"name":"Argentina"},{"code":"AT","count":1521351,"locations":373,"cities":16,"name":"Austria"},{"code":"AU","count":6590014,"locations":166,"cities":52,"name":"Australia"},{"code":"BA","count":1065074,"locations":22,"cities":10,"name":"Bosnia
        and Herzegovi[...]
