http_interactions:
- request:
    method: get
    uri: https://api.openaq.org/v1/cities?limit=10&page=1
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
      last-modified: Wed, 26 Feb 2020 18:31:56 GMT
    body:
      encoding: UTF-8
      file: no
      string: '{"meta":{"name":"openaq-api","license":"CC BY 4.0","website":"https://docs.openaq.org/","page":1,"limit":10,"found":2866},"results":[{"country":"AD","name":"Escaldes-Engordany","city":"Escaldes-Engordany","count":104008,"locations":2},{"country":"AD","name":"unused","city":"unused","count":8582,"locations":1},{"country":"AE","name":"Abu
        Dhabi","city":"Abu Dhabi","count":32807,"locations":1},{"country":"AE","name":"Dubai","city":"Dubai","count":25869,"locations":1},{"country":"AE","name":"N/A","city":"N/A","count":10797,"locations":2},{"country":"AF","name":"Kabul","city":"Kabul","count":3075,"locations":1},{"country":"AF","name":"N/A","city":"N/A","count":2357,"locations":1},{"country":"AR","name":"Buenos
        Aires","city":"Buenos Aires","count":14976,"locations":4},{"country":"AT","name":"Amt
        der Burgenländischen Landesregierung","city":"Amt der Burgenländischen Landesregierung","count":471,"locations":1},{"country":"AT","name":"Amt
        der Burgenl�ndischen Landesregierung","city":"Amt der Burgenl�ndischen Landesregierung","count":35608,"locations":3}]}'
  recorded_at: 2020-02-26 18:57:02 GMT
  recorded_with: vcr/0.4.0, webmockr/0.5.1.98
