http_interactions:
- request:
    method: get
    uri: https://api.openaq.org/v1/latest?limit=100&page=1
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
      last-modified: Wed, 26 Feb 2020 09:42:46 GMT
    body:
      encoding: UTF-8
      file: no
      string: '{"meta":{"name":"openaq-api","license":"CC BY 4.0","website":"https://docs.openaq.org/","page":1,"limit":100,"found":10809},"results":[{"location":"
        淮河道","city":"天津市","country":"CN","distance":8276067.914362704,"measurements":[{"parameter":"so2","value":19,"lastUpdated":"2019-03-19T06:00:00.000Z","unit":"µg/m³","sourceName":"ChinaAQIData","averagingPeriod":{"value":1,"unit":"hours"}},{"parameter":"pm25","value":76,"lastUpdated":"2019-03-19T06:00:00.000Z","unit":"µg/m³","sourceName":"ChinaAQIData","averagingPeriod":{"value":1,"unit":"hours"}},{"parameter":"pm10","value":110,"lastUpdated":"2019-03-19T06:00:00.000Z","unit":"µg/m³","sourceName":"ChinaAQIData","averagingPeriod":{"value":1,"unit":"hours"}},{"parameter":"co","value":600,"lastUpdated":"2019-03-19T07:00:00.000Z","unit":"µg/m³","sourceName":"ChinaAQIData","averagingPeriod":{"value":1,"unit":"hours"}},{"parameter":"o3","value":191,"lastUpdated":"2019-03-19T07:00:00.000Z","unit":"µg/m³","sourceName":"ChinaAQIData","averagingPeriod":{"value":1,"unit":"hours"}},{"parameter":"no2","value":23,"lastUpdated":"2019-03-19T06:00:00.000Z","unit":"µg/m³","sourceName":"ChinaAQIData","averagingPeriod":{"value":1,"unit":"hours"}}],"coordinates":{"latitude":39.2133,"longitude":117.1837}},{"location":"(Folkungagatan
        tillfälligt avstängd)","city":"Stockholm","country":"SE","measurements":[{"parameter":"pm10","value":-99,"lastUpdated":"2018-04-04T15:00:00.000Z","unit":"µg/m³","sourceName":"Sweden","averagingPeriod":{"value":1,"unit":"hours"}},{"parameter":"no2","value":-99,"lastUpdated":"2018-04-04T15:00:00.000Z","unit":"µg/m³","sourceName":"Sweden","averagingPeriod":{"value":1,"unit":"hours"}}]},{"location":"1-r
        khoroolol","city":"Ulaanbaatar","country":[...]
