http_interactions:
- request:
    method: get
    uri: https://api.openaq.org/v1/latest?limit=2&coordinates=0%2C0&radius=1e%2B07&page=1
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
      last-modified: Wed, 26 Feb 2020 18:31:56 GMT
    body:
      encoding: UTF-8
      file: no
      string: '{"meta":{"name":"openaq-api","license":"CC BY 4.0","website":"https://docs.openaq.org/","page":1,"limit":2,"found":7361},"results":[{"location":"21
        de Mayo","city":"Huasco","country":"CL","distance":8182788.077194428,"measurements":[{"parameter":"pm25","value":15.74,"lastUpdated":"2020-02-26T16:00:00.000Z","unit":"µg/m³","sourceName":"Chile
        - SINCA"},{"parameter":"pm10","value":32.77,"lastUpdated":"2020-02-26T15:00:00.000Z","unit":"µg/m³","sourceName":"Chile
        - SINCA"}],"coordinates":{"latitude":-28.467794,"longitude":-71.227295}},{"location":"21
        de mayo","city":"21 de mayo","country":"CL","distance":8462887.154420584,"measurements":[{"parameter":"pm25","value":4,"lastUpdated":"2020-02-04T13:00:00.000Z","unit":"µg/m³","sourceName":"Chile
        - SINCA"},{"parameter":"pm10","value":17,"lastUpdated":"2020-02-04T12:00:00.000Z","unit":"µg/m³","sourceName":"Chile
        - SINCA"},{"parameter":"pm25","value":10,"lastUpdated":"2020-02-26T17:00:00.000Z","unit":"µg/m³","sourceName":"Chile
        - SINCA"},{"parameter":"pm10","value":32,"lastUpdated":"2020-02-26T16:00:00.000Z","unit":"µg/m³","sourceName":"Chile
        - SINCA"}],"coordinates":{"latitude":-37.471184,"longitude":-72.361465}}]}'
  recorded_at: 2020-02-26 18:57:06 GMT
  recorded_with: vcr/0.4.0, webmockr/0.5.1.98
