http_interactions:
- request:
    method: get
    uri: https://api.openaq.org/v1/countries?limit=0&page=1
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
      last-modified: Wed, 26 Feb 2020 09:42:46 GMT
    body:
      encoding: UTF-8
      file: no
      string: '{"meta":{"name":"openaq-api","license":"CC BY 4.0","website":"https://docs.openaq.org/","page":1,"limit":0,"found":93},"results":[]}'
  recorded_at: 2020-02-26 10:21:15 GMT
  recorded_with: vcr/0.4.0, webmockr/0.5.1.98
- request:
    method: get
    uri: https://api.openaq.org/v1/countries?limit=10000
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
      last-modified: Wed, 26 Feb 2020 09:42:46 GMT
    body:
      encoding: UTF-8
      file: no
      string: '{"meta":{"name":"openaq-api","license":"CC BY 4.0","website":"https://docs.openaq.org/","page":1,"limit":10000,"found":93},"results":[{"code":"AD","count":112542,"locations":3,"cities":2,"name":"Andorra"},{"code":"AE","count":69401,"locations":4,"cities":3,"name":"United
        Arab Emirates"},{"code":"AF","count":5415,"locations":2,"cities":2,"name":"Afghanistan"},{"code":"AR","count":14976,"locations":4,"cities":1,"name":"Argentina"},{"code":"AT","count":1521351,"locations":373,"cities":16,"name":"Austria"},{"code":"AU","count":6587412,"locations":166,"cities":52,"name":"Australia"},{"code":"BA","count":1064832,"locations":22,"cities":10,"name":"Bosnia
        and Herzegovi[...]
- request:
    method: get
    uri: https://api.openaq.org/v1/locations?country=AD&limit=10000&page=1
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
      last-modified: Wed, 26 Feb 2020 09:42:46 GMT
    body:
      encoding: UTF-8
      file: no
      string: '{"meta":{"name":"openaq-api","license":"CC BY 4.0","website":"https://docs.openaq.org/","page":1,"limit":10000,"found":3},"results":[{"id":"AD-1","country":"AD","city":"Escaldes-Engordany","cities":["Escaldes-Engordany"],"location":"AD0942A","locations":["AD0942A"],"sourceName":"EEA
        Andorra","sourceNames":["EEA Andorra"],"sourceType":"government","sourceTypes":["government"],"coordinates":{"longitude":1.53914,"latitude":42.50969},"firstUpdated":"2017-09-13T21:00:00.000Z","lastUpdated":"2020-02-26T09:00:00.000Z","parameters":["co","no2","o3","pm10","so2"],"countsByMeasurement":[{"parameter":"co","count":17416},{"parameter":"no2","count":17136},{"parameter":"o3","count":17437},{"parameter":"pm10","count":17598},{"parameter":"so2","count":17211}],"count":86798},{"id":"AD-2","country":"AD","city":"Escaldes-Engordany","cities":["Escaldes-Engordany"],"location":"AD0944A","locations":["AD0944A"],"sourceName":"EEA
        Andorra","sourceNames":["EEA Andorra"],"sourceType":"government","sourceTypes":["government"],"coordinates":{"longitude":1.56525,"latitude":42.51694},"firstUpdated":"2017-09-13T21:00:00.000Z","lastUpdated":"2020-02-26T09:00:00.000Z","parameters":["o3"],"countsByMeasurement":[{"parameter":"o3","count":17162}],"count":17162},{"id":"AD-3","country":"AD","city":"unused","cities":["unused"],"location":"AD0945A","locations":["AD0945A"],"sourceName":"EEA
        Andorra","sourceNames":["EEA Andorra"],"sourceType":"government","sourceTypes":["government"],"coordinates":{"longitude":1.71699,"latitude":42.53488},"firstUpdated":"2017-09-14T00:00:00.000Z","lastUpdated":"2019-12-24T17:00:00.000Z","parameters":["o3"],"countsByMeasurement":[{"parameter":"o3","count":8582}],"count":8582}]}'
  recorded_at: 2020-02-26 10:21:15 GMT
  recorded_with: vcr/0.4.0, webmockr/0.5.1.98
