http_interactions:
- request:
    method: get
    uri: https://api.openaq.org/v1/latest?limit=100&coordinates=0%2C0&radius=1e%2B07&page=1
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
      last-modified: Wed, 26 Feb 2020 09:42:46 GMT
    body:
      encoding: UTF-8
      file: no
      string: '{"meta":{"name":"openaq-api","license":"CC BY 4.0","website":"https://docs.openaq.org/","page":1,"limit":100,"found":7361},"results":[{"location":"21
        de Mayo","city":"Huasco","country":"CL","distance":8182788.077194428,"measurements":[{"parameter":"pm25","value":18.72,"lastUpdated":"2020-02-26T08:00:00.000Z","unit":"µg/m³","sourceName":"Chile
        - SINCA"},{"parameter":"pm10","value":40.25,"lastUpdated":"2020-02-26T07:00:00.000Z","unit":"µg/m³","sourceName":"Chile
        - SINCA"}],"coordinates":{"latitude":-28.467794,"longitude":-71.227295}},{"location":"21
        de mayo","city":"21 de mayo","country":"CL","distance":8462887.154420584,"measurements":[{"parameter":"pm25","value":4,"lastUpdated":"2020-02-04T13:00:00.000Z","unit":"µg/m³","sourceName":"Chile
        - SINCA"},{"parameter":"pm10","value":17,"lastUpdated":"2020-02-04T12:00:00.000Z","unit":"µg/m³","sourceName":"Chile
        - SINCA"},{"parameter":"pm25","value":8,"lastUpdated":"2020-02-26T08:00:00.000Z","unit":"µg/m³","sourceName":"Chile
        - SINCA"},{"parameter":"pm10","value":25,"lastUpdated":"2020-02-26T07:00:00.000Z","unit":"µg/m³","sourceName":"Chile
        - SINCA"}],"coordinates":{"latitude":-37.471184,"longitude":-72.361465}},{"location":"40AB01
        - ANTWERPEN","city":"Flanders","country":"BE","distance":5718547.170303686,"measurements":[{"parameter":"pm25","value":10,"lastUpdated":"2017-03-07T10:00:00.000Z","unit":"µg/m³","sourceName":"EEA
        Belgium","averagingPeriod":{"value":1,"unit":"hours"}}],"coordinates":{"latitude":51.281013,"longitude":4.329848}},{"location":"40AB02
        - BERENDRECHT","city":"Flanders","country":"BE","distance":5725104.669147403,"measurements":[{"parameter":"pm10","value":39.2,"lastUpdated":"2017-03-13T12:00:00.000Z","unit":"µg/m³","sourceName":"EEA
        Belgium","averagingPeriod":{"value":1,"unit":"hours"}},{"parameter":"pm25","value":31,"lastUpdated":"2017-03-13T12:00:00.000Z","unit":"µg/m³","sourceName":"EEA
        Belgium"[...]
