http_interactions:
- request:
    method: get
    uri: https://api.openaq.org/v1/latest?limit=0&page=1
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
      last-modified: Wed, 26 Feb 2020 14:22:23 GMT
    body:
      encoding: UTF-8
      file: no
      string: '{"meta":{"name":"openaq-api","license":"CC BY 4.0","website":"https://docs.openaq.org/","page":1,"limit":0,"found":10809},"results":[]}'
  recorded_at: 2020-02-26 15:13:31 GMT
  recorded_with: vcr/0.4.0, webmockr/0.5.1.98
