http_interactions:
- request:
    method: get
    uri: https://api.openaq.org/v1/latest?limit=100&coordinates=0%2C0&page=1
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
      last-modified: Wed, 26 Feb 2020 09:42:46 GMT
    body:
      encoding: UTF-8
      file: no
      string: '{"meta":{"name":"openaq-api","license":"CC BY 4.0","website":"https://docs.openaq.org/","page":1,"limit":100,"found":10},"results":[{"location":"7
        Eylül","city":"Aydın","country":"TR","distance":0,"measurements":[{"parameter":"so2","value":31,"lastUpdated":"2016-12-28T16:00:00.000Z","unit":"µg/m³","sourceName":"Turkey","averagingPeriod":{"value":1,"unit":"hours"}},{"parameter":"pm10","value":-101,"lastUpdated":"2016-12-28T16:00:00.000Z","unit":"µg/m³","sourceName":"Turkey","averagingPeriod":{"value":1,"unit":"hours"}},{"parameter":"co","value":2428,"lastUpdated":"2016-12-28T16:00:00.000Z","unit":"µg/m³","sourceName":"Turkey","averagingPeriod":{"value":1,"unit":"hours"}},{"parameter":"o3","value":3,"lastUpdated":"2016-12-28T16:00:00.000Z","unit":"µg/m³","sourceName":"Turkey","averagingPeriod":{"value":1,"unit":"hours"}},{"parameter":"no2","value":45,"lastUpdated":"2016-12-28T16:00:00.000Z","unit":"µg/m³","sourceName":"Turkey","averagingPeriod":{"value":1,"unit":"hours"}}],"coordinates":{"latitude":0,"longitude":0}},{"location":"Adnan
        Menderes","city":"Aydın","country":"TR","distance":0,"measurements":[{"parameter":"co","value":3,"lastUpdated":"2016-08-02T06:00:00.000Z","unit":"µg/m³","sourceName":"Turkey","averagingPeriod":{"value":1,"unit":"hours"}},{"parameter":"pm10","value":224,"lastUpdated":"2016-08-02T06:00:00.000Z","unit":"µg/m³","sourceName":"Turkey","averagingPeriod":{"value":1,"unit":"hours"}},{"parameter":"no2","value":111,"lastUpdated":"2016-08-02T06:00:00.000Z","unit":"µg/m³","sour[...]
