http_interactions:
- request:
    method: get
    uri: https://api.openaq.org/v1/cities?limit=0&page=1
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
      last-modified: Wed, 26 Feb 2020 18:31:56 GMT
    body:
      encoding: UTF-8
      file: no
      string: '{"meta":{"name":"openaq-api","license":"CC BY 4.0","website":"https://docs.openaq.org/","page":1,"limit":0,"found":2866},"results":[]}'
  recorded_at: 2020-02-26 18:57:14 GMT
  recorded_with: vcr/0.4.0, webmockr/0.5.1.98
- request:
    method: get
    uri: https://api.openaq.org/v1/cities?limit=10000
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
      last-modified: Wed, 26 Feb 2020 18:31:56 GMT
    body:
      encoding: UTF-8
      file: no
      string: '{"meta":{"name":"openaq-api","license":"CC BY 4.0","website":"https://docs.openaq.org/","page":1,"limit":10000,"found":2866},"results":[{"country":"AD","name":"Escaldes-Engordany","city":"Escaldes-Engordany","count":104008,"locations":2},{"country":"AD","name":"unused","city":"unused","count":8582,"locations":1},{"country":"AE","name":"Abu
        Dhabi","city":"Abu Dhabi","count":32807,"locations":1},{"country":"AE","name":"Dubai","city":"Dubai","count":25869,"locations":1},{"country":"AE","name":"N/A","city":"N/A","count":10797,"locations":2},{"country":"AF","name":"Kabul","city":"Kabul","count":3075,"locations":1},{"country":"AF","name":"N/A","city":"N/A","count":2357,"locations":1},{"country":"AR","name":"Buenos
        A[...]
- request:
    method: get
    uri: https://api.openaq.org/v1/measurements?city=Chennai&limit=10&page=1
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
      last-modified: Wed, 26 Feb 2020 18:31:56 GMT
    body:
      encoding: UTF-8
      file: no
      string: '{"meta":{"name":"openaq-api","license":"CC BY 4.0","website":"https://docs.openaq.org/","page":1,"limit":10,"found":726964},"results":[{"location":"Velachery
        Res. Area, Chennai - CPCB","parameter":"pm25","date":{"utc":"2020-02-26T18:30:00.000Z","local":"2020-02-27T00:00:00+05:30"},"value":39.65,"unit":"µg/m³","coordinates":{"latitude":13.0052189,"longitude":80.2398125},"country":"IN","city":"Chennai"},{"location":"Velachery
        Res. Area, Chennai - CPCB","parameter":"no2","date":{"utc":"2020-02-26T18:30:00.000Z","local":"2020-02-27T00:00:00+05:30"},"value":8.29,"unit":"µg/m³","coordinates":{"latitude":13.0052189,"longitude":80.2398125},"country":"IN","city":"Chennai"},{"location":"Velachery
        Res. Area, Chennai - CPCB","parameter":"so2","date":{"utc":"2020-02-26T18:30:00.000Z","local":"2020-02-27T00:00:00+05:30"},"value":1.76,"unit":"µg/m[...]
