http_interactions:
- request:
    method: get
    uri: https://api.openaq.org/v1/countries?limit=0&page=1
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
      last-modified: Wed, 26 Feb 2020 14:22:23 GMT
    body:
      encoding: UTF-8
      file: no
      string: '{"meta":{"name":"openaq-api","license":"CC BY 4.0","website":"https://docs.openaq.org/","page":1,"limit":0,"found":93},"results":[]}'
  recorded_at: 2020-02-26 15:20:13 GMT
  recorded_with: vcr/0.4.0, webmockr/0.5.1.98
- request:
    method: get
    uri: https://api.openaq.org/v1/countries?limit=10000
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
      last-modified: Wed, 26 Feb 2020 14:22:23 GMT
    body:
      encoding: UTF-8
      file: no
      string: '{"meta":{"name":"openaq-api","license":"CC BY 4.0","website":"https://docs.openaq.org/","page":1,"limit":10000,"found":93},"results":[{"code":"AD","count":112566,"locations":3,"cities":2,"name":"Andorra"},{"code":"AE","count":69441,"locations":4,"cities":3,"name":"United
        Arab Emirates"},{"code":"AF","count":5424,"locations":2,"cities":2,"name":"Afghanistan"},{"code":"AR","count":14976,"locations":4,"cities":1,"name":"Argentina"},{"code":"AT","count":1521351,"locations":373,"cities":16,"name":"Austria"},{"code":"AU","count":6588820,"locations":166,"cities":52,"name":"Australia"},{"code":"BA","count":1064964,"locations":22,"cities":10,"name":"Bosnia
        and Herzegovi[...]
[...]
- request:
    method: get
    uri: https://api.openaq.org/v1/locations?country=AF&limit=0&page=1
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
      last-modified: Wed, 26 Feb 2020 14:22:23 GMT
    body:
      encoding: UTF-8
      file: no
      string: '{"meta":{"name":"openaq-api","license":"CC BY 4.0","website":"https://docs.openaq.org/","page":1,"limit":0,"found":2},"results":[]}'
  recorded_at: 2020-02-26 15:20:13 GMT
  recorded_with: vcr/0.4.0, webmockr/0.5.1.98
- request:
    method: get
    uri: https://api.openaq.org/v1/locations?country=AF&limit=10000
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
      last-modified: Wed, 26 Feb 2020 14:22:23 GMT
    body:
      encoding: UTF-8
      file: no
      string: '{"meta":{"name":"openaq-api","license":"CC BY 4.0","website":"https://docs.openaq.org/","page":1,"limit":10000,"found":2},"results":[{"id":"AF-1","country":"AF","city":"Kabul","cities":["Kabul"],"location":"US
        Diplomatic Post: Kabul","locations":["US Diplomatic Post: Kabul"],"sourceName":"StateAir_Kabul","sourceNames":["StateAir_Kabul"],"sourceType":"government","sourceTypes":["government"],"coordinates":{"longitude":69.19051,"latitude":34.53581},"firstUpdated":"2019-10-20T22:30:00.000Z","lastUpdated":"2020-02-26T14:30:00.000Z","parameters":["pm25"],"countsByMeasurement":[{"parameter":"pm25","count":3072}],"count":3072},{"id":"AF-2","country":"AF","city":"N/A","cities":["N/A"],"location":"Kabul","locations":["Kabul"],"sourceName":"AirNow","sourceNames":["AirNow"],"sourceType":"government","sourceTypes":["government"],"coordinates":{"longitude":69.2046,"latitude":34.55438},"firstUpdated":"2019-10-28T18:30:00.000Z","lastUpdated":"2020-02-26T13:30:00.000Z","parameters":["pm25"],"countsByMeasurement":[{"parameter":"pm25","count":2354}],"count":2354}]}'
  recorded_at: 2020-02-26 15:20:13 GMT
  recorded_with: vcr/0.4.0, webmockr/0.5.1.98
- request:
    method: get
    uri: https://api.openaq.org/v1/cities?limit=0&page=1
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
      last-modified: Wed, 26 Feb 2020 14:22:23 GMT
    body:
      encoding: UTF-8
      file: no
      string: '{"meta":{"name":"openaq-api","license":"CC BY 4.0","website":"https://docs.openaq.org/","page":1,"limit":0,"found":2866},"results":[]}'
  recorded_at: 2020-02-26 15:20:13 GMT
  recorded_with: vcr/0.4.0, webmockr/0.5.1.98
- request:
    method: get
    uri: https://api.openaq.org/v1/cities?limit=10000
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
      last-modified: Wed, 26 Feb 2020 14:22:23 GMT
    body:
      encoding: UTF-8
      file: no
      string: '{"meta":{"name":"openaq-api","[...]
