http_interactions:
- request:
    method: get
    uri: https://api.openaq.org/v1/countries?limit=0&page=1
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
      last-modified: Wed, 26 Feb 2020 14:22:23 GMT
    body:
      encoding: UTF-8
      file: no
      string: '{"meta":{"name":"openaq-api","license":"CC BY 4.0","website":"https://docs.openaq.org/","page":1,"limit":0,"found":93},"results":[]}'
  recorded_at: 2020-02-26 15:20:17 GMT
  recorded_with: vcr/0.4.0, webmockr/0.5.1.98
- request:
    method: get
    uri: https://api.openaq.org/v1/countries?limit=10000
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
      last-modified: Wed, 26 Feb 2020 14:22:23 GMT
    body:
      encoding: UTF-8
      file: no
      string: '{"meta":{"name":"openaq-api","license":"CC BY 4.0","website":"https://docs.openaq.org/","page":1,"limit":10000,"found":93},"results":[{"code":"AD","count":112566,"locations":3,"cities":2,"name":"Andorra"},{"code":"AE","count":69441,"locations":4,"cities":3,"name":"United
        Arab Emirates"},{"code":"AF","count":5424,"locations":2,"cities":2,"name":"Afghanistan"},{"code":"AR","count":14976,"locations":4,"cities":1,"name":"Argentina"},{"code":"AT","count":1521351,"locations":373,"cities":16,"name":"Austria"},{"code":"AU","count":6588820,"locations":166,"cities":52,"name":"Australia"},{"code":"BA","count":1064964,"locations":22,"cities":10,"name":"Bosnia
        and Herzegovi[...]
- request:
    method: get
    uri: https://api.openaq.org/v1/cities?country=DE&limit=0&page=1
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
      last-modified: Wed, 26 Feb 2020 14:22:23 GMT
    body:
      encoding: UTF-8
      file: no
      string: '{"meta":{"name":"openaq-api","license":"CC BY 4.0","website":"https://docs.openaq.org/","page":1,"limit":0,"found":36},"results":[]}'
  recorded_at: 2020-02-26 15:20:17 GMT
  recorded_with: vcr/0.4.0, webmockr/0.5.1.98
- request:
    method: get
    uri: https://api.openaq.org/v1/cities?country=DE&limit=10000
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
      last-modified: Wed, 26 Feb 2020 14:22:23 GMT
    body:
      encoding: UTF-8
      file: no
      string: '{"meta":{"name":"openaq-api","license":"CC BY 4.0","website":"https://docs.openaq.org/","page":1,"limit":10000,"found":36},"results":[{"country":"DE","name":"Andrea
        Schemmel","city":"Andrea Schemmel","count":106915,"locations":10},{"country":"DE","name":"Andreas
        Hainsch","city":"Andreas Hainsch","count":309554,"locations":38},{"country":"DE","name":"Annette
        Pausch","city":"Annette Pausch","count":216793,"locations":34},{"country":"DE","name":"Baden-Württemberg","city":"Baden-Württemberg","count":646662,"locations":42},{"country":"DE","name":"Bayern","city":"Bayern","count":1082040,"locations":55},{"country":"DE","name":"Berlin","city":"Berlin","count":232795[...]
[...]
- request:
    method: get
    uri: https://api.openaq.org/v1/measurements?country=DE&city=Heinz%20Ott&limit=1&page=1
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
      last-modified: Wed, 26 Feb 2020 14:22:23 GMT
    body:
      encoding: UTF-8
      file: no
      string: '{"meta":{"name":"openaq-api","license":"CC BY 4.0","website":"https://docs.openaq.org/","page":1,"limit":1,"found":1620490},"results":[]}'
  recorded_at: 2020-02-26 15:20:17 GMT
  recorded_with: vcr/0.4.0, webmockr/0.5.1.98
[...]
- request:
    method: get
    uri: https://api.openaq.org/v1/measurements?country=DE&city=J%EF%BF%BDrgen%20Friesel&limit=1&page=1
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
      last-modified: Wed, 26 Feb 2020 14:22:23 GMT
    body:
      encoding: UTF-8
      file: no
      string: '{"meta":{"name":"openaq-api","license":"CC BY 4.0","website":"https://docs.openaq.org/","page":1,"limit":1,"found":1199516},"results":[]}'
  recorded_at: 2020-02-26 15:20:17 GMT
  recorded_with: vcr/0.4.0, webmockr/0.5.1.98
